<div class="conteiner-capsula">
  <div>
<img src="https://cdn.shopify.com/s/files/1/0923/8521/4763/files/Group_10693.svg?v=1739293925">
    
    <div>Capsulas</div>
  </div>
   <div>
<img src="https://cdn.shopify.com/s/files/1/0923/8521/4763/files/Group_10693.svg?v=1739293925">
    
    <div>Capsulas</div>
  </div>
  
</div>


{% style %}
  .conteiner-capsula {
    display: flex;
    justify-content: space-between;
}

/*---------------- Global Custom CSS -------------------*/
{{settings.global_css }}

/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
{{settings.desktop_css }}
}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
{{settings.tablet_mobile_css }}
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
{{settings.tablet_css }}
}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 768px){
{{settings.mobile_css }}
}
{% endstyle %}