
<div class="container my-4 info-box p-0">
  <div class="row g-3 align-items-stretch text-dark d-flex">
    <!-- Columna Izquierda -->
    <div class="col-12 col-md-6 d-flex h-100 p-0">
      <div class="d-flex flex-column justify-content-center p-2 rounded info-box__item h-100">
        <div class="d-flex align-items-center">
          <div class="info-box__icon">
            {% if section.settings.icono_izq != blank %}
              <img src="{{ section.settings.icono_izq | img_url: '45x45' }}" alt="icono izquierda">
            {% endif %}
          </div>
          <div class="info-box__content">
            <p class="fw-bold info-box__title m-1">{{ section.settings.titulo_izq }}</p>
            <p class="info-box__text m-0">{{ section.settings.texto_abajo_izq }}</p> 
          </div>
        </div>
      </div>
    </div>

    <!-- Columna Derecha -->
    <div class="col-12 col-md-6 d-flex h-100 p-0">
      <div class="d-flex flex-column justify-content-center p-2 rounded info-box__item h-100">
        <div class="d-flex align-items-center">
          <div class="info-box__icon">
            {% if section.settings.icono_der != blank %}
              <img src="{{ section.settings.icono_der | img_url: '45x45' }}" alt="icono derecha">
            {% endif %}
          </div>
          <div class="info-box__content">
            <p class="fw-bold m-1 info-box__title">{{ section.settings.titulo_der }}</p>
            <p class="info-box__text m-0">{{ section.settings.texto_abajo_der }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  /* Ajustes generales */
.info-box {
  max-width: 600px;
}

/* Caja principal */
.info-box__item {
  background-color: {{ section.settings.background_color }};
  width: 100%;
}

/* Icono */
.info-box__icon {
  width: 50px; /* Ajusta el tama침o del contenedor del icono */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

/* Imagen dentro del icono */
.info-box__icon img {
  max-width: 100%;
  height: auto;
}

/* Texto */
.info-box__content {
  flex: 1; /* Para que el contenido ocupe el espacio restante */
}

.info-box__title {
  font-size: 14px;
}

.info-box__text {
  font-size: 12px;
  line-height: 1.4;
}

/* Responsive: En m칩vil, todo se adapta */
@media (max-width: 768px) {

  
  .info-box__content {
  text-align: left;
}



  /* Ajuste en m칩vil para mejor alineaci칩n */
  .info-box__icon {
    width: 5rem;
    height: 5rem;
  }

  .info-box__title {
    font-size: 12px;
  }

  .info-box__text {
    font-size: 11px;
  }
}

</style>
