<div
  class="t4s-section-inner contenedor vitatu-section"
  style="background-color: {{ section.settings.background_color }};"
>
  <div class="p-3 t4s-container-inner">
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-left mx-2 h2 texto-final">
        {{ section.settings.texto }}
      </div>
      <div class="imagenes mx-2">
        <img src="{{section.settings.imagen_1}}" width="20" height="20" alt="Imagen 1">
        <img src="{{section.settings.imagen_2}}" width="20" height="20" alt="Imagen 2">
        <img src="{{section.settings.imagen_3}}" width="20" height="20" alt="Imagen 3">
      </div>
    </div>
  </div>
</div>

{% style %}
  /*---------------- Custom CSS for only desktop -------------------*/
  @media (min-width: 1025px) {
    .contenedor {
      height: 5rem;
    }
  }

  /*---------------- Custom CSS for tablet, mobile -------------------*/
  @media (max-width: 1024px) {
  }

  /*---------------- Custom CSS for only tablet -------------------*/
  @media (min-width: 768px) and (max-width: 1024px) {
  }

  /*---------------- Custom CSS for only mobile -------------------*/
  @media (max-width: 767px) {
    .imagenes {
      margin: 0;
      padding: 0;
    }

    .texto-final {
      font-size: 12px;
    }

    .contenedor {
      height: 100px;
    }
  }
{% endstyle %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Sección Texto e Imágenes",
  "settings": [
    {
      "type": "text",
      "id": "texto",
      "label": "Texto Principal",
      "default": "Productos elaborados en instalaciones con las siguientes certificaciones y registros:"
    },
    {
      "type": "image_picker",
      "id": "imagen_1",
      "label": "Primera Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_2",
      "label": "Segunda Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_3",
      "label": "Tercera Imagen"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Color de fondo",
      "default": "#f0e6ff"
    }
  ],
  "presets": [
    {
      "name": "Hola shopify"
    }
  ]
}
{% endschema %}
