<div
  class="t4s-section-inner contenedor-ejemplo vitatu-section shadow mb-1"
  style="background-color: {{ section.settings.background_color }};"
>
  <div class="t4s-container d-flex align-items-center">
    <h1 class="texto-final">
      {{ section.settings.texto }}
    </h1>
    <div class="d-flex imagenes align-self-center">
      <img
        class="imagenes_individual"
        src="{{section.settings.imagen_1}}"
        style="width: 54px; height: 55px;"
        alt="Imagen 1"
      >
      <img
        class="imagenes_individual"
        src="{{section.settings.imagen_2}}"
        style="width: 54px; height: 55px;"
        alt="Imagen 2"
      >
      <img
        class="imagenes_individual"
        src="{{section.settings.imagen_3}}"
        style="width: 54px; height: 55px;"
        alt="Imagen 3"
      >
    </div>
  </div>
</div>

{% style %}
  .contenedor-ejemplo {
    display: flex;
  }

  /*---------------- Custom CSS for only desktop -------------------*/
  @media (min-width: 1025px) {
    .contenedor-ejemplo {
      height: 84px;
    }

    .texto-final {
      font-size: 20px;
    }

    .imagenes {
      margin-left: 20rem;
    }
  }

  /*---------------- Custom CSS for tablet, mobile -------------------*/
  @media (max-width: 1024px) {
    .contenedor-ejemplo {
      height: 100px;
    }

    .texto-final {
      font-size: 20px;
      margin-left: 5rem;
    }

    .imagenes {
      margin-left: 5rem;
    }
  }

  /*---------------- Custom CSS for only tablet -------------------*/
  @media (min-width: 768px) and (max-width: 1024px) {
    .contenedor-ejemplo {
      height: 100px;
    }
  }

  /*---------------- Custom CSS for only mobile -------------------*/
  @media (max-width: 767px) {
    .imagenes {
      margin-left: 2.5rem;
    }

    .texto-final {
      font-size: 13px;
      margin: 0px;
    }

    .contenedor-ejemplo {
      height: 150px;
    }
  }
{% endstyle %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Sección Texto e Imágenes",
  "settings": [
    {
      "type": "text",
      "id": "texto",
      "label": "Texto Principal",
      "default": "Productos elaborados en instalaciones con las siguientes certificaciones y registros:"
    },
    {
      "type": "image_picker",
      "id": "imagen_1",
      "label": "Primera Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_2",
      "label": "Segunda Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_3",
      "label": "Tercera Imagen"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Color de fondo",
      "default": "#f0e6ff"
    }
  ],
  "presets": [
    {
      "name": "Hola shopify"
    }
  ]
}
{% endschema %}
