<div
  class="t4s-section-inner contenedor-ejemplo vitatu-section shadow mb-1"
  style="background-color: {{ section.settings.background_color }};"
>
  <div class="t4s-container h-100">
    <div class="d-flex align-items-center h-100 justify-content-around">
      <div class="clase-texto">
        <h1 class="texto-final">
          {{ section.settings.texto }}
        </h1>
      </div>

      <div class="w-25 d-flex imagenes justify-content-between">
        <img
          class="imagenes_individual"
          src="{{section.settings.imagen_1}}"
          style="width: 54px; height: 55px;"
          alt="Imagen 1"
        >
        <img
          class="imagenes_individual"
          src="{{section.settings.imagen_2}}"
          style="width: 54px; height: 55px;"
          alt="Imagen 2"
        >
        <img
          class="imagenes_individual"
          src="{{section.settings.imagen_3}}"
          style="width: 54px; height: 55px;"
          alt="Imagen 3"
        >
      </div>
    </div>
  </div>
</div>

{% style %}
  /*---------------- Custom CSS for only desktop -------------------*/
  @media (min-width: 1025px) {
    .contenedor-ejemplo {
      height: 84px;
    }

    .texto-final {
      font-size: 20px !important;
    }
  }

  /*---------------- Custom CSS for tablet, mobile -------------------*/
  @media (max-width: 1024px) {
    .contenedor-ejemplo {
      height: 100px;
    }

    .texto-final {
      font-size: 15px !important;
    }
  }

  /*---------------- Custom CSS for only tablet -------------------*/
  @media (min-width: 768px) and (max-width: 1024px) {
    .contenedor-ejemplo {
      height: 100px;
    }

    .imagenes {
      width: 50%;
    }

    .clase-texto {
      width: 50%;
    }
  }

  /*---------------- Custom CSS for only mobile -------------------*/
  @media (max-width: 767px) {
    .texto-final {
      font-size: 13px !important;
    }

    .clase-texto {
      width: 50%;
    }

    .contenedor-ejemplo {
      height: 170px;
    }

    .imagenes {
      width: 50%;
      justify-content: center !important;
    }

    .imagenes_individual {
      width: 38.7px !important;
      height: 38.7px !important;
    }
  }
{% endstyle %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Sección Texto e Imágenes",
  "settings": [
    {
      "type": "text",
      "id": "texto",
      "label": "Texto Principal",
      "default": "Productos elaborados en instalaciones con las siguientes certificaciones y registros:"
    },
    {
      "type": "image_picker",
      "id": "imagen_1",
      "label": "Primera Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_2",
      "label": "Segunda Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_3",
      "label": "Tercera Imagen"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Color de fondo",
      "default": "#f0e6ff"
    }
  ],
  "presets": [
    {
      "name": "Hola shopify"
    }
  ]
}
{% endschema %}
