<div
  class="t4s-section-inner vitatu-section;"
  style="width: 100vw; min-height:688px; background-image:url('{{ section.settings.banner| image_url: width: auto, height: auto}}'); background-size:cover;"
>
  <div class="t4s-container h-100">
    <div class="text-dark">
      <header class="fw-bold text-start" style="font-size: 45px;">
        {{ section.settings.header }}
      </header>
    </div>
    <div class="container text-dark text-center">
      <div class="row">
        <div class="col-6 col-sm-3 rounded-lg" style="background-color:{{ section.settings.background_box_1}}">
          <header class="fw-bold">{{ section.settings.box_1 }}</header>
          <p>{{ section.settings.box_content }}</p>
        </div>
        <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
        <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
      </div>
    </div>
  </div>
</div>
{% style %}
  .banner-img {
    width: 10%;
    max-height: 300px;
    object-fit: cover;
  }

  @media (max-width: 1200px) {
    .banner-img {
      max-height: 400px;
    }
  }

  @media (max-width: 992px) {
    .banner-img {
      max-height: 350px;
    }
  }

  @media (max-width: 768px) {
    .banner-img {
      max-height: 300px;
    }
  }

  @media (max-width: 576px) {
    .banner-img {
      max-height: 250px;
    }
  }
{% endstyle %}
{% schema %}
{
  "name": "Insignias",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Titulo"
    },
    {
      "type":"image_picker",
      "id":"banner",
      "label":"Imagen del banner"
    },
    {
      "type":"color",
      "id":"background_section",
      "label":"Color del Fondo:",
      "default": "#E5D4C9"
    },
    {
      "type": "text",
      "id": "box_1",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content",
      "label": "Contenido del texto:"
    },
    {
      "type": "color",
      "id": "background_box_1",
      "label": "Color del Fondo:",
      "default":"#FFBF80"
    },
    {
      "type": "text",
      "id": "box_2",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_2",
      "label": "Contenido del texto:"
    },
    {
      "type": "color",
      "id": "background_box_2",
      "label": "Color del Fondo:",
      "default":"#FFBF80"
    },
    {
      "type": "text",
      "id": "box_3",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_3",
      "label": "Contenido del texto:"
    },
    {
      "type": "color",
      "id": "background_box_3",
      "label": "Color del Fondo:",
      "default":"#FFBF80"
    },
    {
      "type": "text",
      "id": "box_4",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_4",
      "label": "Contenido del texto:"
    },
    {
      "type": "color",
      "id": "background_box_4",
      "label": "Color del Fondo:",
      "default":"#FFBF80"
    }
  ],
  "presets": [
    {
      "name": "Insignias"
    }
  ]
}
{% endschema %}
