  <div class="t4s-section-inner vitatu-section;">
<div
  class="banner-img "
  style="background-image:url('{{ section.settings.banner| image_url: width: 1441, height:688}}');"
>
    <div class="text-dark p-5">
      <header class="fw-bold text-start" style="font-size: 45px;">
        {{ section.settings.header }}
      </header>
    </div>
    <div class="container text-dark text-center">
      <div class="row gap-5">
        <div class="row gap-4 gy-4">
          <div
            class="position-relative col-3 rounded-5"
            style="background-color:{{ section.settings.background_box}}; padding-top:45px; width: 20%;"
          >
            <div class="position-absolute top-0 start-50 translate-middle">
              <img src="{{ section.settings.image_box_1|img_url:'100x100'}};" class="img-fluid" alt="icon_top">
            </div>
            <div class="lh-sm">
              <p class="fw-bold">{{ section.settings.box_1 }}</p>
              <p>{{ section.settings.box_content }}</p>
            </div>
          </div>
          <div
            class="position-relative col-3 rounded-5"
            style="background-color:{{ section.settings.background_box}}; padding-top: 45px; width: 20%;"
          >
            <div class="position-absolute top-0 start-50 translate-middle">
              <img src="{{ section.settings.image_box_2|img_url:'100x100'}};" class="img-fluid" alt="icon_top">
            </div>
            <div class="lh-sm">
              <p class="fw-bold">{{ section.settings.box_2 }}</p>
              <p>{{ section.settings.box_content_2 }}</p>
            </div>
          </div>
        </div>
        <div class="row gap-4 gy-4">
          <div
            class="position-relative col-3 rounded-5"
            style="background-color:{{ section.settings.background_box}}; padding-top:45px;width: 20%;"
          >
            <div class="position-absolute top-0 start-50 translate-middle">
              <img src="{{ section.settings.image_box_3|img_url:'100x100'}};" class="img-fluid" alt="icon_top">
            </div>
            <div class="lh-sm">
              <p class="fw-bold">{{ section.settings.box_3 }}</p>
              <p>{{ section.settings.box_content_3 }}</p>
            </div>
          </div>
          <div
            class="position-relative col-3 rounded-5"
            style="background-color:{{ section.settings.background_box}};padding-top:45px;width: 20%;"
          >
            <div class="position-absolute top-0 start-50 translate-middle">
              <img src="{{ section.settings.image_box_4|img_url:'100x100'}};" class="img-fluid" alt="icon_top">
            </div>
            <div class="lh-sm">
              <p class="fw-bold">{{ section.settings.box_4 }}</p>
              <p>{{ section.settings.box_content_4 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% style %}
      .banner-img {
        width:100%;
        max-width: 1441px;
        height:100%;
        max-height: 688px;
        height: 100%;
        margin: auto;
        overflow: hidden;
      }
    @media (max-width: 1200px) {
    .banner-img {
      height: 80vh;
    }
  }

  @media (max-width: 992px) {
    .banner-img {
      height: 70vh;
    }
  }

  @media (max-width: 768px) {
    .banner-img {
      height: 60vh;
    }
  }

  @media (max-width: 576px) {
    .banner-img {
      height: 50vh;
    }
  }
{% endstyle %}
{% schema %}
{
  "name": "Insignias",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Titulo"
    },
    {
      "type":"image_picker",
      "id":"banner",
      "label":"Imagen del banner"
    },
    {
      "type": "color",
      "id": "background_box",
      "label": "Color del Fondo:",
      "default":"#FFBF80"
    },
    {
      "type":"color",
      "id":"background_section",
      "label":"Color del fondo de todas las cajas:",
      "default": "#E5D4C9"
    },
    {
      "type": "text",
      "id": "box_1",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content",
      "label": "Contenido del texto:"
    },
    {
      "type": "image_picker",
      "id": "image_box_1",
      "label": "Imagen del la Caja:",
    },
    {
      "type": "text",
      "id": "box_2",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_2",
      "label": "Contenido del texto:"
    },
    {
      "type": "image_picker",
      "id": "image_box_2",
      "label": "Imagen del la Caja:",
    },
    {
      "type": "text",
      "id": "box_3",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_3",
      "label": "Contenido del texto:"
    },
    {
      "type": "image_picker",
      "id": "image_box_3",
      "label": "Imagen del la Caja:",
    },
    {
      "type": "text",
      "id": "box_4",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_4",
      "label": "Contenido del texto:"
    },
        {
      "type": "image_picker",
      "id": "image_box_4",
      "label": "Imagen del la Caja:",
    }
  ],
  "presets": [
    {
      "name": "Insignias"
    }
  ]
}
{% endschema %}
