<div class="t4s-section-inner vitatu-section">
  <div class="color_back">
    <div
      class="container banner-img"
    >
      <div class="container flex_padre">
        <div class="contenido text-dark">
          <header class="fw-bold text-start titulo">
            {{ section.settings.header }}
          </header>
          <div class="container text-dark text-center">
            <div class="row gap-5 tabla">
              <div class="row gap-4 gy-4 box">
                <div
                  class="position-relative col-3 rounded-5 columna"
                >
                  <div class="position-absolute top-0 start-50 translate-middle columna-img">
                    <img src="{{ section.settings.image_box_1|img_url:'100x100'}};" class="img-fluid" alt="icon_top">
                  </div>
                  <div class="lh-sm">
                    <p class="fw-bold">{{ section.settings.box_1 }}</p>
                    <p>{{ section.settings.box_content }}</p>
                  </div>
                </div>
                <div
                  class="position-relative col-3 rounded-5 columna"
                >
                  <div class="position-absolute top-0 start-50 translate-middle columna-img">
                    <img src="{{ section.settings.image_box_2|img_url:'100x100'}};" class="img-fluid" alt="icon_top">
                  </div>
                  <div class="lh-sm">
                    <p class="fw-bold">{{ section.settings.box_2 }}</p>
                    <p>{{ section.settings.box_content_2 }}</p>
                  </div>
                </div>
              </div>
              <div class="row gap-4 gy-4 box">
                <div
                  class="position-relative col-3 rounded-5 columna"
                >
                  <div class="position-absolute top-0 start-50 translate-middle columna-img">
                    <img src="{{ section.settings.image_box_3|img_url:'100x100'}};" class="img-fluid" alt="icon_top">
                  </div>
                  <div class="lh-sm">
                    <p class="fw-bold">{{ section.settings.box_3 }}</p>
                    <p>{{ section.settings.box_content_3 }}</p>
                  </div>
                </div>
                <div
                  class="position-relative col-3 rounded-5 columna"
                >
                  <div class="position-absolute top-0 start-50 translate-middle columna-img">
                    <img src="{{ section.settings.image_box_4|img_url:'100x100'}};" class="img-fluid" alt="icon_top">
                  </div>
                  <div class="lh-sm">
                    <p class="fw-bold">{{ section.settings.box_4 }}</p>
                    <p>{{ section.settings.box_content_4 }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="imagen-derecha">
        <img src="{{ section.settings.banner | img_url: '600x600' }}" alt="Persona">
      </div>
    </div>
  </div>
</div>
{% style %}
   .color_back{
     
     background-image: linear-gradient(to right, rgba(255, 255, 255, 1), {{section.settings.background_section}});
   }
  .flex_padre{
    width:50%
    padding:15px;
  }
     .banner-img {
       width: 100%;
       height: auto;
       display: flex;
       max-width:1441px;
       min-height: 555px;
     }
     .imagen-derecha {
       width:50%;
       align-content: flex-end;
       position: relative;
     }
     .imagen-derecha img {
       width: 100%;
       height: auto; 
       max-height: 692px; 
       object-fit: contain;
  }

     .titulo{
       font-size: 44px;
       line-height: 1.2;
       word-wrap: break-word;
       width: 88%;
       padding-bottom: 15px;
       padding-left:12%
      }
     .columna{
       background-color: {{section.settings.background_box}};
       padding-top:45px;
       width: 45%;
     }
     .columna-img{
       width:100px;
       height:100px;
     }
     .box{
       justify-content:space-around;
     }
    .tabla{
      margin-left: 15%;
      margin-right: 15%;
    }

     @media (max-width: 1334px){
       .conten{
         width:100%;
         height:100%
       }
       .titulo{
         font-size: 42px;
       }
     }
     @media (max-width: 1024px) {
     .banner-img {
       flex-direction: column;
       align-items: center;
       text-align: center;
     }
     .contenido {
       width: 100%;
     }
     .imagen-derecha {
       width: 60%;
       max-width: 300px;
     }
     .box{
         justify-content:center;
         margin-left:0;
     }
     .titulo{
        font-size: 39px;
        align-content: center !important;
        padding-left: 15%;
        width: 85%;
     }
   }
     @media(max-width:994px){
       .titulo{
         font-size: 34px;
       }
       .columna{
         width: 48%;
       }
     }

       @media (max-width: 860px) {
       .color_back{
         background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), {{section.settings.background_section}});
       }
       .banner-img {
         width:100%;
         height:auto;
         margin-bottom: 50px;
       }
       .titulo{
         font-size: 30px !important;
         text-align: center !important;
         width: 100% !important
         padding-left:0;
       }
       .columna{
         width: 45%;
       }

       .box{
         justify-content:center;
         margin-left:0;
       }
         .imagen-derecha {
       width: 80%;
       max-width: 250px;
       }
     }
     @media (max-width: 576px) {
       .banner-img{
         width:100%;
         height:auto;
         margin-bottom: 50px;
       }
       .box{
         justify-content: center;
         margin-left:0;
       }
       .titulo{
         margin-left:0;
         margin-right:0;
       }
   }
  @media (max-width: 375px) {
       .banner-img{

       }
    .flex_padre{
         width:100%
      }
     .imagen-derecha {
       width: 100%;
       max-width: 200px;
     }
     .columna{
       width: 47%;
     }
    .titulo{
        padding: 15px;
        left: 8%;
        font-size: 30px;
    }
    .tabla{
      margin-left:0;
      margin-right:0;
    }
{% endstyle %}
{% schema %}
{
  "name": "Insignias",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Titulo"
    },
    {
      "type":"image_picker",
      "id":"banner",
      "label":"Imagen del banner"
    },
    {
      "type": "color",
      "id": "background_box",
      "label": "Color del Fondo de todas las cajas:",
      "default":"#FFBF80"
    },
    {
      "type":"color",
      "id":"background_section",
      "label":"Color del fondo:",
      "default": "#E5D4C9"
    },
    {
      "type": "text",
      "id": "box_1",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content",
      "label": "Contenido del texto:"
    },
    {
      "type": "image_picker",
      "id": "image_box_1",
      "label": "Imagen del la Caja:",
    },
    {
      "type": "text",
      "id": "box_2",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_2",
      "label": "Contenido del texto:"
    },
    {
      "type": "image_picker",
      "id": "image_box_2",
      "label": "Imagen del la Caja:",
    },
    {
      "type": "text",
      "id": "box_3",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_3",
      "label": "Contenido del texto:"
    },
    {
      "type": "image_picker",
      "id": "image_box_3",
      "label": "Imagen del la Caja:",
    },
    {
      "type": "text",
      "id": "box_4",
      "label": "Titulo de texto:"
    },
    {
      "type": "text",
      "id": "box_content_4",
      "label": "Contenido del texto:"
    },
        {
      "type": "image_picker",
      "id": "image_box_4",
      "label": "Imagen del la Caja:",
    }
  ],
  "presets": [
    {
      "name": "Insignias"
    }
  ]
}
{% endschema %}
