<div
  class="t4s-section-inner vitatu-section;" style="width: 100vw; min-height:688px; background-color:{{ section.settings.background}};">
  <div class="t4s-container h-100">
    <div class="text-dark">
      <header class="fw-bold text-start" style="font-size: 45px; max-width: 665px; height:auto">{{ section.settings.header }}</header>
    </div>
    <div>
      <img 
    srcset="
    {{ section.settings.banner | img_url: '800x400' }} 400w,
    {{ section.settings.banner | img_url: '1200x600' }} 800w,
    {{ section.settings.banner | img_url: '1600x800' }} 1200w"
  sizes="(max-width: 576px) 100vw, (max-width: 992px) 100vw, 100vw"
  src="{{ section.settings.banner | img_url: '1600x800' }}"
  class="rounded float-end banner-img"
  alt="banner">
    </div>
  </div>
</div>
{% style %}

  .banner-img {
    width: 100%; 
    max-height: 500px; 
    object-fit: cover;
  }

  @media (max-width: 1200px) {
    .banner-img {
      max-height: 400px;
    }
  }

  @media (max-width: 992px) {
    .banner-img {
      max-height: 350px;
    }
  }

  @media (max-width: 768px) {
    .banner-img {
      max-height: 300px;
    }
  }

  @media (max-width: 576px) {
    .banner-img {
      max-height: 250px;
    }
  }
{% endstyle %}
{% schema %}
  {
    "name": "Insignias",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Titulo"
      },
      {
        "type":"image_picker",
        "id":"banner",
        "label":"Imagen del banner"
      },
      {
        "type":"color",
        "id":"background",
        "label":"Color del Fondo:",
        "default": "#E5D4C9"
      }
    ],
    "presets": [
      {
        "name": "Insignias"
      }
    ]
  }
{% endschema %}
