{% schema %}
{
  "name": "Subscripcion",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Color de fondo",
      "default": "#fffbe6"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Color del botón",
      "default": "#8e2b7b"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Imagen izquierda"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Imagen derecha"
    },
    {
      "type": "text",
      "id": "klaviyo_list_id",
      "label": "ID de lista de Klaviyo",
      "default": "TU_LISTA_ID"
    }
  ],
  "presets": [
    {
      "name": "Suscripcion",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class=" t4s-container vitatu-section py-5 text-center" style="background-color: {{ section.settings.bg_color }}; padding: 50px 20px;">
  <div class="row align-items-center">
    <div class="col-md-3 text-center">
      {% if section.settings.image_1 %}
        <img src="{{ section.settings.image_1 | image_url }}" alt="Producto 1" class="img-fluid" style="max-width: 200px;">
      {% endif %}
    </div>
    <div class="col-md-6">
      <h1 class="fw-bold">¡SUSCRÍBETE Y RECIBE UN 10% OFF!</h1>
      <p>Disfruta de promociones, acceso preferencial a nuevos productos, noticias y ¡mucho más!</p>
      <form id="t4s-form-newsletter_4WxKrc" class="t4s-pr t4s-z-100 t4s-newsletter__form" method="post" action="/contact#t4s-form-newsletter_4WxKrc">
        <div class="p-4">
           <input
    type="email"
    id="{{ }}"
    class="{% if input_group %}{% else %}field{% endif %}"
    placeholder="{{ placeholder_field }}"
    aria-label="{{ placeholder_field }}"
    autocorrect="off"
    autocapitalize="off"
    name="contact[email]"
    data-newsletter-field
    {% if form.errors %}
      autofocus
      aria-invalid="true"
      aria-describedby="Newsletter-error--{{ unique }}"
    {% elsif form.posted_successfully? %}
      aria-describedby="Newsletter-success--{{ unique }}"
    {% endif %}
    required>
        </div>
        <button data-t4s-klaviyo-submit type="submit" class="btn btn-lg" style="background-color: {{ section.settings.btn_color }}; color: #fff;">Suscribirme</button>
        <input type="hidden" name="g" value="{{ section.settings.klaviyo_list_id }}>
      </form>
    </div>
    <div class="col-md-3 text-center">
      {% if section.settings.image_2 %}
        <img src="{{ section.settings.image_2 | image_url }}" alt="Producto 2" class="img-fluid" style="max-width: 200px;">
      {% endif %}
    </div>
  </div>
</div>
