{% schema %}
{
  "name": "Subscripcion",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Color de fondo",
      "default": "#fffbe6"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Color del botón",
      "default": "#8e2b7b"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Imagen izquierda"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Imagen derecha"
    },
    {
      "type": "text",
      "id": "klaviyo_list_id",
      "label": "ID de lista de Klaviyo",
      "default": "TU_LISTA_ID"
    }
  ],
  "presets": [
    {
      "name": "Suscripcion",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class=" t4s-container vitatu-section py-5 text-center" style="background-color: {{ section.settings.bg_color }}; padding: 50px 20px;">
  <div class="row align-items-center">
    <div class="col-md-3 text-center">
      {% if section.settings.image_1 %}
        <img src="{{ section.settings.image_1 | image_url }}" alt="Producto 1" class="img-fluid" style="max-width: 200px;">
      {% endif %}
    </div>
    <div class="col-md-6">
      <h1 class="fw-bold">¡SUSCRÍBETE Y RECIBE UN 10% OFF!</h1>
      <p>Disfruta de promociones, acceso preferencial a nuevos productos, noticias y ¡mucho más!</p>
{%- form 'customer', class: form_class, id: form_id, data-newsletter-form: '', style: style -%}
  {%- liquid
    assign success_message = 'general.newsletter_form.thank_you' | t
    assign success_message_discount = 'general.newsletter_form.thank_you_with_code_html' | t

    if success_text != blank
      assign success_message_discount = success_text | remove: '<p>' | remove: '</p>'
    endif
  -%}

  {%- if form.posted_successfully? -%}
    <p class="newsletter__message newsletter__message--success" id="Newsletter-success--{{ unique }}" tabindex="-1" autofocus>
      {%- if show_discount_message and success_message_discount != blank -%}
        {{ success_message_discount }}
      {%- else -%}
        {{ success_message }}
      {%- endif -%}
    </p>
  {%- endif -%}

  <div class="newsletter__message newsletter__message--error errors" id="Newsletter-error--{{ unique }}">
    {%- if form.errors -%}
      {{ form.errors.translated_fields.email | capitalize }}
      {{ form.errors.messages.email }}
    {%- else -%}
      <em>{{ 'general.newsletter_form.error_message' | t }}</em>
    {%- endif -%}
  </div>

  <input type="hidden" name="contact[accepts_marketing]" value="true">

  {%- if show_name -%}
    <div class="input-row">{{ name_field }}</div>
    <div class="input-row">{{ email_field }}</div>
    <div class="input-row">{{ submit_button }}</div>
  {%- endif -%}

  {%- unless show_name -%}
    <div class="input-group">
      {{ email_field }}
      {{ submit_button }}
    </div>
  {%- else -%}

  {%- endunless -%}


  {%- if block.settings.terms -%}
    <div class="form__legal">
      {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
    </div>
  {%- endif -%}
{%- endform -%}
    </div>
    <div class="col-md-3 text-center">
      {% if section.settings.image_2 %}
        <img src="{{ section.settings.image_2 | image_url }}" alt="Producto 2" class="img-fluid" style="max-width: 200px;">
      {% endif %}
    </div>
  </div>
</div>
