<div class="container custom-section text-center">
  <h1 class="fw-bold">¡SUSCRÍBETE Y RECIBE UN 10% OFF!</h1>
  <p>Disfruta de promociones, acceso preferencial a nuevos productos, noticias y ¡mucho más!</p>
  <form class="my-4">
    <div class="mb-3">
      <input type="email" class="form-control" placeholder="Correo electrónico">
    </div>
    <button type="submit" class="btn custom-btn btn-lg">Suscribirme</button>
  </form>
  <div class="d-flex justify-content-around align-items-center flex-wrap">
    <img src="imagen1.png" alt="Producto 1" class="img-fluid" style="max-width: 200px;">
    <img src="imagen2.png" alt="Producto 2" class="img-fluid" style="max-width: 200px;">
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
/*-----------------------------------------------------------------------------/
/ Custom Theme CSS
/-----------------------------------------------------------------------------*/
/*---------------- Global Custom CSS -------------------*/
{{ settings.global_css }}

/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
  {{ settings.desktop_css }}
}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
  {{ settings.tablet_mobile_css }}
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  {{ settings.tablet_css }}
}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){
  {{ settings.mobile_css }}
}